# Ignore Dwarf Fortress game folder
df_53_03_win/

# Ignore Dwarf Fortress 0.47.05 game folder
Dwarf Fortress 0.47.05/

# Ignore LNP (Lazy Newb Pack) folder
LNP/

# Ignore API configuration
config_api.json

# Ignore PyLNP launcher files
PyLNP.user
*.user
PyLNP.json

# Ignore error logs
stderr.txt
stderr.log
stdout.txt
stdout.log

ktown_webapp/node_modules
ktown_webapp/client/node_modules
ktown_webapp/public/json_big_xml_plus.json
ktown_webapp/public/json_big_xml.json
Dwarf Fortress 0.47.05.zip